<div class="container post-component">
  <div class="media shot_header" *ngIf="post">

    <div class="media-body">
      <h1>{{post.title}}</h1>
      <div class="post__info--preview">
        <div class="post-preview__details clearfix">
          <div class="post-maker">
            <div class="avatar__wrapper avatar__wrapper--36">
              <img width="36" height="36" class="avatar" src="{{post.user.avatar_url}}">
            </div>
          </div>
          <a href="{{post.user.html_url}}">
            <h2 class="truncate">
              {{post.user.name}}
            </h2>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="post">
    <div class="col-md-9">
      <img class="shot_image" src="{{post.images.hidpi}}">
    </div>

    <div [innerHTML]="post.description" class="shot_description"></div>

    <div class="col-md-3" *ngIf="post">
        <ul class="list-group">
          <li class="list-group-item">
            <i class="fa fa-thumbs-o-up"></i>
            <span class="label label-default label-pill pull-xs-right">{{post.likes_count}}</span>
            Likes
          </li>
          <li class="list-group-item">
            <i class="fa fa-eye"></i>
            <span class="label label-default label-pill pull-xs-right">{{post.views_count}}</span>
            Views
          </li>
          <li class="list-group-item">
            <i class="fa fa-share"></i>
            <span class="label label-default label-pill pull-xs-right">{{post.rebounds_count}}</span>
            Rebounds
          </li>
          <li class="list-group-item">
            <i class="fa fa-comment"></i>
            <span class="label label-default label-pill pull-xs-right">{{post.comments_count}}</span>
            Comments
          </li>
          <li class="list-group-item">
            <a href="{{post.html_url}}">
              <i class="fa fa-globe"></i>
              Link to Dribbble

            </a>
          </li>
        </ul>
    </div>
  </div>
</div>
